In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

# reverse of a string

In [17]:
def reverse(string):
    string=string[::-1]
    return string
s="hello world"
print(reverse(s))

dlrow olleh

# prime number or not

In [31]:
# n=int(input("enter the number"))
n=5
flag=False
if(n>1):
    for i in range(2,n):
        if(n%i==0):
            Flag=True
            break
        if flag:
            print("number is not prime")
        else:
            print("number is prime")

number is prime
number is prime
number is prime

# fibonacci series

In [34]:
num=10
n1,n2=0,1
print("fibonacci series:",n1,n1,end="")
for i in range(2,num):
    n3=n1+n2
    n1=n2
    n2=n3
    print(n3,end="")

print()

fibonacci series: 0 012358132134

# how to sort a list of array

In [40]:
a=[23,2,14,53,56,34,24,56]
a.sort()
print(a)

[2, 14, 23, 24, 34, 53, 56, 56]

In [44]:
vowels=['i','a','e','o','u']
vowels.sort()
print("sorted list",vowels)

sorted list ['a', 'e', 'i', 'o', 'u']

In [45]:
a=[23,2,14,53,56,34,24,56]
a.sort(reverse=True)
print(a)

[56, 56, 53, 34, 24, 23, 14, 2]

# pyramid pattern

In [51]:
rows=int(input("enter the number of rows"))
for i in range(rows):
    for j in range(i+1):
        print("*",end="")
    print("\n")

enter the number of rows5
*

**

***

****

*****

In [57]:
rows=int(input("enter the rows"))
for i in range(rows):
    for j in range(i+1):
        print(j+1,end="")
    print("\n")

enter the rows5
1

12

123

1234

12345

In [61]:
rows=int(input("enter the rows"))
k=0
for i in range(1,rows+1):
    for space in range(1,(rows-1)+1):
        print(end=" ")
        
    while k!=(2*i-1):
        print("* ",end="")
        k += 1
    k=0
    print()

enter the rows5
    *
    * * *
    * * * * *
    * * * * * * *
    * * * * * * * * *

# swap to two number

In [67]:
# swap two number with using third variable
a=int(input("enter the value of a:\n"))
b=int(input("enter the value of b:\n"))


a=b
b=c
c=a
print("swap value of a:",a)
print("swap value of b:",b)

enter the value of a:
10
enter the value of b:
20
swap value of a: 20
swap value of b: 54

In [ ]:
# swap two number without using third variable
a=int(input("enter the value of a:\n"))
b=int(input("enter the value of b:\n"))

a=a+b
b=a-b
a=a-b
print("swap value of a:",a)
print("swap value of b:",b)

# how to add two list

In [3]:
list1=[21,34,34,33,14,13]
list2=['ajit','akash','amit']
list3=list1+list2
print(list3)

[21, 34, 34, 33, 14, 13, 'ajit', 'akash', 'amit']

# convert a list into tuple

In [4]:
def convert(list):
    return tuple(list)
list=[32,43,5,6]
print(convert(list))

(32, 43, 5, 6)

# lambda function

In [14]:
a=lambda x,y:x*y
print (a(2,5))

10

# number is palindrome or not

In [16]:
n=int(input("enter any number"))
temp=n
rev=0
while(n>0):
    digit=n%10
    rev=rev*10+digit
    n=n//10
if(temp==rev):
    print("number is palindrome")
else:
    print("number is not palindrome")

enter any number30011
number is not palindrome