# explain sets in python

1. A set is a built-in data type that represents an unordered collection of unique elements. The primary characteristics of sets in Python are:


- Uniqueness: A set cannot contain duplicate elements. If you try to add an element that is already present, the set will not change.


- Unordered: Elements in a set are not stored in any particular order, and you cannot access them by indexing or position. Therefore, sets do not support indexing, slicing, or other sequence-like behavior.


- Mutable: Sets are mutable, meaning you can add and remove elements after the set is created.

# Explain Dictionary in python

A dictionary in Python is a built-in data type that stores a collection of key-value pairs. It is also known as an associative array, map, or hash table in other programming languages. 


- Dictionaries are mutable, unordered, and dynamic, allowing you to store and retrieve values based on their associated keys.

1. Key-Value Pairs:
- Each key in a dictionary must be unique, and it is associated with a specific value. The key and value together form a key-value pair.

In [2]:
#creating a sets 
set={2,3,56,7}
print(set)

{56, 2, 3, 7}

In [3]:
#adding elements
sets={2,3,56,7}
sets.add(5)
print(sets)

{2, 3, 5, 7, 56}

In [4]:
#removing elements
sets={2,3,56,7}
sets.remove(7)
print(sets)

{56, 2, 3}

In [12]:
#union and intersection 
set1={2,35,65,2}
set2={32,3,2,65,34,69}
union_set=set1.union(set2)
print(union_set)
intersection_set=set2.intersection(set1)
print(intersection_set)

differnce_set=set1.difference(set2)
print(differnce_set)

{32, 65, 2, 35, 3, 34, 69}
{65, 2}
{35}

In [2]:
#unique values
list=[32,3,2,2,65,65,34,69]
unique_set=set(list)
print(unique_set)

{32, 65, 2, 3, 34, 69}

In [5]:
#symmetric differnce
set1={3,4,67,5}
set2={3,56,4}
symmetric_diff=set1.symmetric_difference(set2)
print(symmetric_diff)

{67, 5, 56}

# dictionary codes

In [15]:
dict={
    "name":"ajit",
    "age":24,
    "roll":4,
    "city":"sonipat"}
print(dict)

{'name': 'ajit', 'age': 24, 'roll': 4, 'city': 'sonipat'}

In [18]:
#accessing key value
print(dict["name"])
print(dict["age"])
print(dict["city"])

ajit
24
sonipat

In [19]:
#adding one more key and value
dict["salary"]="40000"
dict["class"]=12
print(dict)

{'name': 'ajit', 'age': 24, 'roll': 4, 'city': 'sonipat', 'salary': '40000', 'class': 12}

In [21]:
keys=dict.keys()
print(keys)

dict_keys(['name', 'age', 'roll', 'city', 'salary', 'class'])

In [22]:
values=dict.values()
print(values)

dict_values(['ajit', 24, 4, 'sonipat', '40000', 12])

In [23]:
items=dict.items()
print(items)

dict_items([('name', 'ajit'), ('age', 24), ('roll', 4), ('city', 'sonipat'), ('salary', '40000'), ('class', 12)])

In [24]:
#update your element
dict["age"]=27
print(dict)

{'name': 'ajit', 'age': 27, 'roll': 4, 'city': 'sonipat', 'salary': '40000', 'class': 12}

In [25]:
dict["city"]="ajmer"
print(dict)

{'name': 'ajit', 'age': 27, 'roll': 4, 'city': 'ajmer', 'salary': '40000', 'class': 12}

In [26]:
#delete any specific key
dict.pop("city")
print(dict)

{'name': 'ajit', 'age': 27, 'roll': 4, 'salary': '40000', 'class': 12}

In [28]:
#check key is present or not 
print("city" in dict)

False

In [39]:
import copy
# copy_dict=dict.copy()
# copy_dict
deep_copy=copy.deepcopy(dict)
deep_copy

{'name': 'ajit',
 'age': 27,
 'roll': 4,
 'salary': '40000',
 'class': 12,
 'class1': 1222}

In [40]:
dict1={"name":["ajit","akash","aman","ankita"],
      "age":[24,34,5,67],
      }
print(dict1)

{'name': ['ajit', 'akash', 'aman', 'ankita'], 'age': [24, 34, 5, 67]}

In [41]:
shallow_copy=dict1.copy()
print(shallow_copy)

{'name': ['ajit', 'akash', 'aman', 'ankita'], 'age': [24, 34, 5, 67]}

In [42]:
deep_copy=copy.deepcopy(dict1)
print(deep_copy)

{'name': ['ajit', 'akash', 'aman', 'ankita'], 'age': [24, 34, 5, 67]}

In [43]:
dict1

{'name': ['ajit', 'akash', 'aman', 'ankita'], 'age': [24, 34, 5, 67]}

In [44]:
#adding one more key and value
dict1["ag1"]="40000"
dict["class1"]=1222
print(dict1)

{'name': ['ajit', 'akash', 'aman', 'ankita'], 'age': [24, 34, 5, 67], 'ag1': '40000'}

In [45]:
deep_copy

{'name': ['ajit', 'akash', 'aman', 'ankita'], 'age': [24, 34, 5, 67]}

In [46]:
shallow_copy

{'name': ['ajit', 'akash', 'aman', 'ankita'], 'age': [24, 34, 5, 67]}